.hero{
display:none;
}

.site-header{
position:relative;
}

.restaurant{
margin:90px auto;
grid-template-columns:1fr 1fr;
background:#f7f3eb;
}

.restaurant-image img{
height:300px;
object-fit:cover;
}

.reservation{
margin-top:0;
}

.contact{
background:#f7f3eb;
}

.navbar a{
font-size:20px;
}

.nav-logo img{
width:90px;
background:white;
padding:5px;
border-radius:4px;
}
